# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


../.vscode

*.pyc

.vscode


# Frontend
frontend/node_modules
.idea/
.vscode/
frontend/node_modules/
frontend/build
.DS_Store
*.tgz
my-app*
frontend/template/src/__tests__/__snapshots__/
frontend/lerna-debug.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.changelog
.npm/
frontend/yarn.lock



# Documentation
# Logs
documentation/logs
*.log

# Runtime data
documentation/pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
documentation/lib-cov

# Coverage directory used by tools like istanbul
documentation/coverage
documentation/junit.xml

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
documentation/.grunt

# node-waf configuration
documentation/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
documentation/build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
documentation/node_modules
documentation/examples/biz-website/public/
documentation/examples/blog/public/
documentation/integration-tests/gatsby-cli/execution-folder/*
*.un~
documentation/dist
documentation/bin/published.js

# Build Path of Test Fixtures
documentation/test/**/public
documentation/.gatsby-context.js
.DS_Store
documentation/public/
documentation/node_modules/
documentation/e2e-tests/gatsby-pnp/
.cache/
.netlify
.Rhistory

# IDE specific
.idea/
.vscode/
*.sw*

# misc
.serverless/
.eslintcache

# lock files
documentation/yarn.lock
documentation/package-lock.json
# ignore any lock file other than main lock file
!/yarn.lock

# starters are special; we want to persist the lock files
!starters/*/package-lock.json
!themes/gatsby-starter-blog-theme/package-lock.json
!themes/gatsby-starter-notes-theme/package-lock.json
!themes/gatsby-starter-theme/package-lock.json
!themes/gatsby-starter-theme-workspace/package-lock.json

